/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
TextMesh Pro/
[Ll]ibrary/
Art/
*.asset
build1/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.meta
*.unitypackage
*.apk
Glitch Survivor_BackUpThisFolder_ButDontShipItWithYourGame/
.utmp/